body {
  margin: 25px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
h2 {
  color: black;
  text-align: center;
}
.heading {
  font-family: "Roboto", sans-serif;
  color: #2050ce;
  text-align: center;
  font-weight: 18000;
  margin-left: 13%;
}
.word-container {
  color: black;
  font-size: 3rem;
  margin-top: 1%;
  margin-bottom: 1%;
}
.nextbtn {
  padding: 5px;
  width: 10%;
  display: block;
  border-radius: 30px;
  border: 3px solid #202c2b;
  background-color: lightgreen;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
  margin-top: 20px;
}
.result {
  font-size: 2rem;
}
.hint {
  color: darkblue;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  margin-top: 0.5%;
}
.info-btn {
  color: #000000;
  font-size: 2rem;
  margin-top: 1%;
  margin-bottom: 1%;
}
.info-btn:hover {
  color: green;
  cursor: pointer;
}
.btns {
  margin-bottom: 2%;
}
.image-container {
  width: 60%;
  height: 100%;
  margin: auto;
  color: black;
}
.draw-container {
  width: 100%;
  height: 100%;
}
.instruct-container {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: black;
  margin: auto;
  margin-top: 40px;
}
.instruct-container ul {
  float: left;
  display: inline;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.instruct-container li {
  margin: 2px;
}
img {
  width: 20%;
  height: 20%;
}
.key-container .row {
  text-align: center;
  margin: 0 0 15px;
}
.key {
  padding: 1% 2%;
  border-radius: 30px;
  border: 3px solid #202c2b;
  background-color: #2050ce;
  color: #fff;
  text-transform: uppercase;
}
.key:hover {
  background-color: white;
  color: #2050ce;
  cursor: pointer;
}
.output {
  margin: 15px;
}
.output input {
  color: white;
  background: black;
  border: 0px;
  line-height: 2.2em;
  text-align: center;
  font-size: 2em;
  width: 100%;
}
.output input:focus {
  outline: none;
  border: 0px;
}
.output ::-webkit-input-placeholder {
  color: white;
  text-align: center;
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
  h1 {
    margin: auto;
    margin-bottom: 10px;
  }
  .instruct-container ul {
    font-size: 12px;
    margin-left: -40px;
  }
  .nextbtn {
    width: 60px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .image-container {
    width: 250px;
    margin-left: 2px;
    margin: auto;
  }
  .word-container {
    font-size: 18px;
  }
  #info-btn {
    margin-top: 25px;
    font-size: 20px;
  }
  .key-container {
    margin-top: 30px;
    padding: 0;
  }
  .key {
    width: 21px;
    padding: 1px;
    height: 25px;
  }
  .result {
    font-size: 20px;
    font-weight: lighter;
  }
  .hint {
    font-size: 14px;
  }
}
