body {
  margin: 0;
  padding: 20px;
}

.heading {
  font-family: "Roboto", sans-serif;
  color: #2050ce;
  text-align: center;
  margin-left: 13%;
}

.board-container {
  width: 25%;
  height: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  width: 97%;
  height: 6rem;
  background-color: white;
  border: 1px solid #2050ce;
  color: #2050ce;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  padding: 1% 1%;
  font-size: 500%;
}
.cell:hover {
  color: white;
  background-color: #2050ce;
}
.end-game {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 700;
}
.button-container {
  text-align: center;
  margin-bottom: 20px;
}

button:hover {
  background-color: #45a049;
}
.restart-btn {
  width: 20%;
  padding: 1% 1%;
  margin: auto;
  margin-bottom: 3%;
  border: 1px solid;
  font-family: "Inter", sans-serif;
  border-radius: 50px;
  color: white;
  background-color: #2050ce;
}

@media (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }
  .heading {
    font-size: 20px;
  }
  .board-container {
    margin-left: 55px;
  }
  .cell {
    width: 3rem;
    height: 3rem;
    margin: auto;
    font-size: 250%;
  }
  .end-game {
    margin: auto;
    margin-top: 0px;
  }
  .restart-btn {
    width: 85px;
    height: 30px;
  }
  .end-game {
    font-size: 12px;
  }
}
